.36_2 { 
	overflow:hidden;
}.e36_2 { 
	width:4074px;
	height:2323px;
	position:absolute;
}.e18_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:987px;
	position:absolute;
	left:2154px;
	top:1336px;
}.e1_196 { 
	width:1920px;
	height:987px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_197 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:1920px;
	height:767px;
	position:absolute;
	left:0px;
	top:0px;
}.1_198 { 
	border:3px solid rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
}.e1_198 { 
	width:1110px;
	height:538px;
	position:absolute;
	left:405px;
	top:129px;
}.e1_199 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:446px;
	height:74px;
	position:absolute;
	left:715px;
	top:90px;
}.e1_200 { 
	color:rgba(255, 255, 255, 1);
	width:346px;
	height:54px;
	position:absolute;
	left:50px;
	top:10px;
	font-family:Playfair Display;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e1_201 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:260px;
	height:260px;
	position:absolute;
	left:375px;
	top:60px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_202 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:260px;
	height:200px;
	position:absolute;
	left:1308px;
	top:64px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.1_203 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_203 { 
	width:118px;
	height:0px;
	position:absolute;
	left:901px;
	top:194px;
}.e1_204 { 
	color:rgba(255, 255, 255, 1);
	width:539px;
	height:72px;
	position:absolute;
	left:691px;
	top:234px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e1_205 { 
	width:255px;
	height:30px;
	position:absolute;
	left:690px;
	top:387px;
}.e1_206 { 
	color:rgba(255, 255, 255, 1);
	width:254px;
	height:20px;
	position:absolute;
	left:1px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.1_207 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_207 { 
	width:255px;
	height:0px;
	position:absolute;
	left:0px;
	top:30px;
}.e1_208 { 
	width:540px;
	height:30px;
	position:absolute;
	left:690px;
	top:457px;
}.e1_209 { 
	color:rgba(255, 255, 255, 1);
	width:254px;
	height:20px;
	position:absolute;
	left:1px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.1_210 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_210 { 
	width:540px;
	height:0px;
	position:absolute;
	left:0px;
	top:30px;
}.e1_211 { 
	width:255px;
	height:30px;
	position:absolute;
	left:975px;
	top:387px;
}.e1_212 { 
	color:rgba(255, 255, 255, 1);
	width:254px;
	height:20px;
	position:absolute;
	left:1px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.1_213 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_213 { 
	width:255px;
	height:0px;
	position:absolute;
	left:0px;
	top:30px;
}.1_214 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_214 { 
	width:541px;
	height:50px;
	position:absolute;
	left:689px;
	top:537px;
}.e1_215 { 
	color:rgba(255, 255, 255, 1);
	width:125px;
	height:20px;
	position:absolute;
	left:208px;
	top:15px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:5;
}.e6_7 { 
	width:160px;
	height:160px;
	position:absolute;
	left:1760px;
	top:60px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_169 { 
	width:1920px;
	height:220px;
	position:absolute;
	left:0px;
	top:767px;
}.e1_170 { 
	background-color:rgba(153.00000607967377, 132.0000073313713, 49.00000087916851, 1);
	width:1920px;
	height:220px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_171 { 
	width:1110px;
	height:60px;
	position:absolute;
	left:405px;
	top:110px;
}.1_172 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_172 { 
	width:1110px;
	height:0px;
	position:absolute;
	left:0px;
	top:60px;
}.e1_173 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:21px;
	position:absolute;
	left:100px;
	top:19px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e1_174 { 
	color:rgba(255, 255, 255, 1);
	width:113px;
	height:21px;
	position:absolute;
	left:903px;
	top:19px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e1_175 { 
	transform: rotate(90.00000250447768deg);
	width:59px;
	height:0px;
	position:absolute;
	left:350px;
	top:0px;
}.1_175 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_176 { 
	transform: rotate(90.00000250447768deg);
	width:59px;
	height:0px;
	position:absolute;
	left:585px;
	top:0px;
}.1_176 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_177 { 
	transform: rotate(90.00000250447768deg);
	width:59px;
	height:0px;
	position:absolute;
	left:845px;
	top:0px;
}.1_177 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_178 { 
	width:146px;
	height:26px;
	position:absolute;
	left:642px;
	top:17px;
}.e1_179 { 
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_180 { 
	background-color:rgba(255, 255, 255, 1);
	width:22.751224517822266px;
	height:15.924995422363281px;
	position:absolute;
	left:1.6243919134140015px;
	top:5.037502765655518px;
}.e1_181 { 
	width:24px;
	height:24px;
	position:absolute;
	left:61px;
	top:2px;
}.e1_182 { 
	background-color:rgba(255, 255, 255, 1);
	width:23.999975204467773px;
	height:13.720803260803223px;
	position:absolute;
	left:-0.00008700136095285416px;
	top:5.1395673751831055px;
}.e1_183 { 
	width:26px;
	height:26px;
	position:absolute;
	left:120px;
	top:0px;
}.e1_184 { 
	background-color:rgba(255, 255, 255, 1);
	width:10.113998413085938px;
	height:19.49693489074707px;
	position:absolute;
	left:7.942995071411133px;
	top:3.249802350997925px;
}.e1_185 { 
	width:1110px;
	height:100px;
	position:absolute;
	left:405px;
	top:50px;
}.1_186 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_186 { 
	width:1110px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}.1_187 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_187 { 
	width:1110px;
	height:0px;
	position:absolute;
	left:0px;
	top:60px;
}.e1_188 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:21px;
	position:absolute;
	left:95px;
	top:19px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e1_189 { 
	color:rgba(255, 255, 255, 1);
	width:122px;
	height:21px;
	position:absolute;
	left:407px;
	top:79px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e1_192 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:21px;
	position:absolute;
	left:492px;
	top:19px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e1_193 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:21px;
	position:absolute;
	left:627px;
	top:19px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e1_195 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:21px;
	position:absolute;
	left:949px;
	top:19px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e18_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:856px;
	position:absolute;
	left:0px;
	top:1336px;
}.e1_244 { 
	width:1920px;
	height:856px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_245 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:1920px;
	height:856px;
	position:absolute;
	left:0px;
	top:0px;
}.1_246 { 
	border:3px solid rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
}.e1_246 { 
	width:1110px;
	height:656px;
	position:absolute;
	left:405px;
	top:144px;
}.1_248 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_248 { 
	width:160px;
	height:0px;
	position:absolute;
	left:880px;
	top:254px;
}.e1_249 { 
	color:rgba(255, 255, 255, 1);
	width:733px;
	height:192px;
	position:absolute;
	left:595px;
	top:294px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e6_3 { 
	color:rgba(255, 255, 255, 1);
	width:640px;
	height:110px;
	position:absolute;
	left:640px;
	top:144px;
	font-family:Montserrat;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e1_250 { 
	width:160px;
	height:160px;
	position:absolute;
	left:880px;
	top:536px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_4 { 
	width:1110px;
	height:87px;
	position:absolute;
	left:405px;
	top:30px;
}.18_5 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e18_5 { 
	width:1110px;
	height:0px;
	position:absolute;
	left:0px;
	top:40px;
}.18_6 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e18_6 { 
	width:1110px;
	height:0px;
	position:absolute;
	left:0px;
	top:87px;
}.e18_7 { 
	transform: rotate(89.99999749552194deg);
	width:46px;
	height:0px;
	position:absolute;
	left:270px;
	top:40px;
}.18_7 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e18_8 { 
	transform: rotate(89.99999749552194deg);
	width:46px;
	height:0px;
	position:absolute;
	left:555px;
	top:40px;
}.18_8 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e18_9 { 
	transform: rotate(89.99999749552194deg);
	width:46px;
	height:0px;
	position:absolute;
	left:840px;
	top:40px;
}.18_9 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e18_10 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:21px;
	position:absolute;
	left:103px;
	top:51px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e18_11 { 
	color:rgba(255, 255, 255, 1);
	position:absolute;
	left:405px;
	top:53px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e18_12 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:21px;
	position:absolute;
	left:941px;
	top:53px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e18_13 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:20px;
	position:absolute;
	left:995px;
	top:0px;
	font-family:Montserrat;
	text-align:right;
	font-size:13px;
	letter-spacing:0;
}.e18_14 { 
	color:rgba(255, 255, 255, 1);
	width:178px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e18_26 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1038px;
	position:absolute;
	left:2154px;
	top:0px;
}.e1_216 { 
	width:1920px;
	height:1038px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_217 { 
	background-color:rgba(230.00000149011612, 227.00000166893005, 196.00000351667404, 1);
	width:1920px;
	height:1038px;
	position:absolute;
	left:0px;
	top:0px;
}.1_218 { 
	border:1px solid rgba(153.00000607967377, 132.0000073313713, 49.00000087916851, 1);
}.e1_218 { 
	width:1110px;
	height:0px;
	position:absolute;
	left:405px;
	top:80px;
}.1_219 { 
	border:1px solid rgba(153.00000607967377, 132.0000073313713, 49.00000087916851, 1);
}.e1_219 { 
	width:1110px;
	height:0px;
	position:absolute;
	left:405px;
	top:958px;
}.e1_220 { 
	color:rgba(0, 0, 0, 1);
	width:347px;
	height:24px;
	position:absolute;
	left:405px;
	top:140px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_221 { 
	color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:286px;
	height:108px;
	position:absolute;
	left:405px;
	top:194px;
	font-family:Playfair Display;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_222 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:160px;
	height:0px;
	position:absolute;
	left:405px;
	top:332px;
}.1_222 { 
	border:1px solid rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
}.e1_223 { 
	color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:445px;
	height:84px;
	position:absolute;
	left:405px;
	top:362px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1_224 { 
	color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:445px;
	height:84px;
	position:absolute;
	left:405px;
	top:734px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1_225 { 
	background-color:rgba(153.00000607967377, 132.0000073313713, 49.00000087916851, 1);
	width:294px;
	height:50px;
	position:absolute;
	left:405px;
	top:848px;
}.e1_226 { 
	color:rgba(255, 255, 255, 1);
	width:234px;
	height:20px;
	position:absolute;
	left:30px;
	top:15px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:5;
}.e1_227 { 
	width:445px;
	height:228px;
	position:absolute;
	left:405px;
	top:476px;
}.e1_228 { 
	color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:32px;
	height:21px;
	position:absolute;
	left:19px;
	top:26px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1_229 { 
	color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:32px;
	height:21px;
	position:absolute;
	left:19px;
	top:104px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1_230 { 
	color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:32px;
	height:21px;
	position:absolute;
	left:19px;
	top:182px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1_231 { 
	color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:248px;
	height:21px;
	position:absolute;
	left:105px;
	top:37px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1_232 { 
	color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:248px;
	height:21px;
	position:absolute;
	left:105px;
	top:115px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1_233 { 
	color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:248px;
	height:21px;
	position:absolute;
	left:105px;
	top:193px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1_234 { 
	color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:292px;
	height:27px;
	position:absolute;
	left:105px;
	top:5px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e1_235 { 
	color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:292px;
	height:27px;
	position:absolute;
	left:105px;
	top:83px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e1_236 { 
	color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:292px;
	height:27px;
	position:absolute;
	left:105px;
	top:161px;
	font-family:Playfair Display;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e1_237 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:445px;
	height:0px;
	position:absolute;
	left:0px;
	top:73px;
}.1_237 { 
	border:1px solid rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
}.e1_238 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:445px;
	height:0px;
	position:absolute;
	left:0px;
	top:151px;
}.1_238 { 
	border:1px solid rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
}.e1_239 { 
	transform: rotate(89.99999749552173deg);
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:228px;
	height:0px;
	position:absolute;
	left:75px;
	top:0px;
}.1_239 { 
	border:1px solid rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
}.e1_240 { 
	width:540px;
	height:758px;
	position:absolute;
	left:975px;
	top:140px;
}.e1_241 { 
	background-color:rgba(123.24999645352364, 122.73645401000977, 122.73645401000977, 1);
	width:540px;
	height:500px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_242 { 
	background-color:rgba(123.24999645352364, 122.73645401000977, 122.73645401000977, 1);
	width:255px;
	height:228px;
	position:absolute;
	left:0px;
	top:530px;
	background-image:url(images/rectangle_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_243 { 
	background-color:rgba(123.24999645352364, 122.73645401000977, 122.73645401000977, 1);
	width:255px;
	height:228px;
	position:absolute;
	left:285px;
	top:530px;
	background-image:url(images/rectangle_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_6 { 
	width:160px;
	height:160px;
	position:absolute;
	left:1760px;
	top:80px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_23 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:900px;
	position:absolute;
	left:0px;
	top:138px;
}.e18_22 { 
	width:1920px;
	height:900px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_251 { 
	width:1920px;
	height:900px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_252 { 
	background-color:rgba(236.93750202655792, 236.93750202655792, 236.93750202655792, 1);
	background-image:url(images/bgc.png);
	width:1920px;
	height:900px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}.e1_255 { 
	width:1110px;
	height:87px;
	position:absolute;
	left:405px;
	top:30px;
}.1_256 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_256 { 
	width:1110px;
	height:0px;
	position:absolute;
	left:0px;
	top:40px;
}.1_257 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_257 { 
	width:1110px;
	height:0px;
	position:absolute;
	left:0px;
	top:87px;
}.e1_258 { 
	transform: rotate(89.99999749552194deg);
	width:46px;
	height:0px;
	position:absolute;
	left:270px;
	top:40px;
}.1_258 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_260 { 
	transform: rotate(89.99999749552194deg);
	width:46px;
	height:0px;
	position:absolute;
	left:840px;
	top:40px;
}.1_260 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e18_17 { 
	width:270px;
	height:46px;
	position:absolute;
	left:0px;
	top:40px;
}.e1_261 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:21px;
	position:absolute;
	left:104px;
	top:12.5px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e18_28 { 
	width:270px;
	height:46px;
	position:absolute;
	left:839px;
	top:40px;
}.e1_264 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:21px;
	position:absolute;
	left:101.5px;
	top:12.5px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e1_254 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:20px;
	position:absolute;
	left:995px;
	top:0px;
	font-family:Montserrat;
	text-align:right;
	font-size:13px;
	letter-spacing:0;
}.e1_253 { 
	color:rgba(255, 255, 255, 1);
	width:178px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e1_265 { 
	width:407px;
	height:50px;
	position:absolute;
	left:752px;
	top:700px;
}.e1_266 { 
	background-color:rgba(153.00000607967377, 134.00000721216202, 42.000001296401024, 1);
	width:144px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_267 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:20px;
	position:absolute;
	left:30px;
	top:15px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:5;
}.e1_268 { 
	background-color:rgba(153.00000607967377, 132.0000073313713, 49.00000087916851, 1);
	width:174px;
	height:50px;
	position:absolute;
	left:233px;
	top:0px;
}.e1_269 { 
	color:rgba(255, 255, 255, 1);
	width:114px;
	height:20px;
	position:absolute;
	left:30px;
	top:15px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:5;
}.e6_5 { 
	width:160px;
	height:160px;
	position:absolute;
	left:1760px;
	top:70px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}